body{

background-image: url("../images/bg-2.jpg") fixed;
}
.aboutme{
 
	margin-top: 30px;

}
.drowAtMiddle{
	text-align: center;
}
.wellcome-custom{color: #777777;
font-family: "Russo One",sans-serif;}

.para-font{
	font-family: "Play",sans-serif;

}
.skilllist>ul>li{
	list-style-type: none;
	font-size: 21px;
}
.title{color:#;}
.aboutme-para{font-size: 21px;
line-height: 34px;}

.nav-button-mobile{background: #FFFFFF!important;}

.nav-custom{
	background:#487AAD;
	opacity: 0.7;
}
.navbar-nav > li >a{
	padding:30px;
	font-size: 16px;
	color: #FFFFFF!important;
	text-transform: uppercase;
	line-height: 16px;
	display: block;
	font-family: 'Open Sans Condensed';
}
.navbar-nav>li>a:hover{
	background: #000000!important;
}
.servicePara {
  font-size: 20px;
}
#home{box-shadow: 1px 2px 3px #000;}

.bg-aqua{
	background:#00C0EF !important;
}
.bg-green{
	background:#00A65A !important;
}
.bg-yellow{
	background:#F39C12 !important;
}
.bg-red{
	background:#F56954 !important;
}
.bg-blue{
	background:#0073B7 !important;
}
.bg-purple{
	background:#932AB6 !important;
}
.text-green{color:green;}
.text-yellow{color:yellow;}
.text-blue{color:#2E4D64;}
.text-cool-blue{color:#487AAD;}
.text-grass{color:#5CB85C;}
.text-sky{color:#72DBDB;}
.text-red{color:#FF634E;}
.text-sweet-red{color:#CA3523;}
.text-terra-cotta{color:#AE421C;}
.text-work{color:#E55617;}
.text-service{color:#D77D04;}
.text-contact{color:#7B9BBD;}
